<% content_for :head_script do %>
  <%= javascript_include_tag "display" %>
<% end %>

<section>
	<h2>Resumen</h2>
	<article>
		<ul>
			<li> Apodos creados: <%= @apodos %> </li>
			<li> Usuarios: <%= @usuarios %> </li>
			<li> Usuarios apodados: <%= @apodados.length %> </li>
			<li> Reportes recibidos: <%= @quejas %> </li>
		</ul>
	</article>
</section>