<h1>Listing objetos</h1>

<table>
  <tr>
    <th>Categoria</th>
    <th>Descripcion</th>
    <th>Imagen url</th>
    <th>Fecha creacion</th>
    <th>Fecha actualizacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @objetos.each do |objeto| %>
  <tr>
    <td><%= objeto.categoria_id %></td>
    <td><%= objeto.descripcion %></td>
    <td><%= objeto.imagen_url %></td>
    <td><%= objeto.fecha_creacion %></td>
    <td><%= objeto.fecha_actualizacion %></td>
    <td><%= link_to 'Show', objeto %></td>
    <td><%= link_to 'Edit', edit_objeto_path(objeto) %></td>
    <td><%= link_to 'Destroy', objeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Objeto', new_objeto_path %>
