<%= form_for(@calificacion) do |f| %>
  <% if @calificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calificacion.errors.count, "error") %> prohibited this calificacion from being saved:</h2>

      <ul>
      <% @calificacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.text_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :apodo_id %><br />
    <%= f.number_field :apodo_id %>
  </div>
  <div class="field">
    <%= f.label :calificacion %><br />
    <%= f.number_field :calificacion %>
  </div>
  <div class="field">
    <%= f.label :fecha_creacion %><br />
    <%= f.datetime_select :fecha_creacion %>
  </div>
  <div class="field">
    <%= f.label :fecha_actualizacion %><br />
    <%= f.datetime_select :fecha_actualizacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
