<% content_for :head_script do %>
  <%= javascript_include_tag "incidencias" %>
<% end %>

<section>
    <h2>Apodos Reportados</h2>

     <table class="table table-striped table-bordered responsive">
      <tr>
        <th><%= sortable "usuarios.nombre", "Usuario" %></th>
        <th><%= sortable "apodos.nombre", "Apodo" %></th>
        <th><%= sortable "fecha_actualizacion", "Fecha" %></th>
      </tr>

    <% @apodos_usuarios.each do |apodos_usuario| %>
      <tr>
         <td class="centered">
            <%= image_tag "https://graph.facebook.com/#{apodos_usuario.usuario_para.facebook_id}/picture", :class => "usuario-thumb horizontal" %>
            <%= link_to apodos_usuario.usuario_para.nombre + ' ' + apodos_usuario.usuario_para.apellido, "http://facebook.com/#{apodos_usuario.usuario_para.facebook_id}", :target => "_blank", :class => "horizontal" %>
        </td>
        <td> <%= link_to apodos_usuario.apodo.prefijo + ' ' + apodos_usuario.apodo.nombre, edit_apodo_path(apodos_usuario.apodo), :target => "_blank" %>
        </td>
        <td class="centered"><%= apodos_usuario.fecha_actualizacion.in_time_zone("Mexico City").strftime("%h %d %Y") %></td>
      </tr>
    <% end %>
    </table>
</section>
