<h1>Listing usuarios</h1>

<table>
  <tr>
    <th>Facebook</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Es fan</th>
    <th>Fecha creacion</th>
    <th>Fecha actualizacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.facebook_id %></td>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.apellido %></td>
    <td><%= usuario.email %></td>
    <td><%= usuario.es_fan %></td>
    <td><%= usuario.fecha_creacion %></td>
    <td><%= usuario.fecha_actualizacion %></td>
    <td><%= link_to 'Show', usuario %></td>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usuario', new_usuario_path %>
