<% content_for :head_script do %>
  <%= javascript_include_tag "usuarios" %>
<% end %>

<section>
    <h2>Reporte de Usuarios</h2>
    <%= will_paginate @usuarios, :previous_label => ApplicationHelper::PREV_LBL, :next_label => ApplicationHelper::NEXT_LBL %>
    <table class="table table-striped table-bordered responsive">
      <tr>
        <th><%= sortable "nombre" %></th>
        <th><%= sortable "email" %></th>
        <th><%= sortable "es_fan"%></th>
        <th><%= sortable "apodos_creados", "Apodos Creados"%></th>
        <th><%= sortable "apodos_recibidos", "Apodos Recibidos"%></th>
        <th><%= sortable "amigos_apodados", "Amigos Apodados"%></th>
      </tr>

    <% @usuarios.select{|user| user.facebook_id != '1'}.each do |usuario| %>
      <tr>
        <td class="centered">
            <%= image_tag "https://graph.facebook.com/#{usuario.facebook_id}/picture", :class => "usuario-thumb horizontal" %>
            <%= link_to usuario.nombre + ' ' + usuario.apellido, "http://facebook.com/#{usuario.facebook_id}", :target => "_blank", :class => "horizontal" %></td>
        <td><%= usuario.email %></td>
        <td>
            <% if usuario.es_fan == '1' %> Fan <% else %> Nuevo Fan <% end %>
        </td>
        <td><%= usuario.apodos.length %>&nbsp;&nbsp;&nbsp;
            <% if usuario.attributes["apodos_creados"] > 0 %>
                <%=link_to "Ver", "#", :onclick => "getApodosCreados(#{usuario.facebook_id})"%>
            <% end %>
        </td>
        <td><%= usuario.attributes["apodos_recibidos"] %>&nbsp;&nbsp;&nbsp;
            <% if usuario.attributes["apodos_recibidos"] > 0 %>
                <%=link_to "Ver", "#", :onclick => "getApodosAsignados(#{usuario.facebook_id})"%>
            <% end %>
        </td>
        <td><%= usuario.attributes["amigos_apodados"] %></td>
      </tr>
    <% end %>
    </table>
    
    <div id="myModal" class="hide">
        <h2>Apodos</h2>
        <table id="apodosUsuario" class="table table-striped table-bordered responsive"></table>
        </div>
    </div>
</section>
<!-- , :onclick => "updateDestacado(#{apodo.id}, this)" -->
