<%= form_for(@apodo) do |f| %>
  <% if @apodo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apodo.errors.count, "error") %> prohibited this apodo from being saved:</h2>

      <ul>
      <% @apodo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="notice"><%= notice %></div><% if notice %><br/><%end%>
  <div>
    <%= image_tag "http://apps.t2omedia.com.mx/php1/wikiapodos/images/apodos/" + @apodo.imagen_url, :class => "form-thumb" %>
  </div>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :Descripción %>
    <%= f.text_area :descripcion, :class => "text-area" %>
  </div><br/>
  <div class="field">
    <%= f.label :visible, :class => "checkbox inline" %>
    <%= f.check_box :visible, :class => "horizontal", :data =>{:furatto => "checkbox", :color => "dark"} %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.label :destacado, :class => "checkbox inline" %>
    <%= f.check_box :destacado, :class => "horizontal", :data =>{:furatto => "checkbox"} %>
  </div>
  <div class="field">
    
    
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Guardar", :class => "btn btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Regresar', apodos_path, :class => "btn btn-danger" %>
  </div>
<% end %>
