<% content_for :head_script do %>
  <%= javascript_include_tag "apodos" %>
<% end %>
<section>
    <h2>Reporte de Apodos</h2>
    <%= form_tag('/apodos', method: :get, :class => "inline-form" ) do %>
        <%= text_field_tag "filter", @filter %>
        <%= submit_tag "Buscar", :class => "btn btn-primary" %>
        <%= submit_tag "Mostrar todos", :class => "btn btn-danger", :onclick => "clearFilter()" %>
    <% end %>
    <% if @filter != nil && @filter != ""%>
        <%= label_tag("Resultados de '#{@filter}'") %>
    <% end %>
    <%= will_paginate @apodos, :previous_label => ApplicationHelper::PREV_LBL, :next_label => ApplicationHelper::NEXT_LBL %>
    <table class="table table-striped table-bordered responsive">
      <tr>
        <th><%= sortable "nombre", "Apodo", true %></th>
        <th><%= sortable "descripcion", "Descripción", true %></th>
        <th><%= sortable "nombre_usuario", "Autor", true %></th>
        <th><%= sortable "calificacion", "Calificación", true %></th>
        <th><%= sortable "aceptado", "Usuarios", true %></th>
        <th><%= sortable "compartido", "Compartido", true %></th>
        <th><%= sortable "reportado", "Reportado", true %></th>
        <th><%= sortable "visible", nil, true %></th>
        <th><%= sortable "destacado", nil, true %></th>
        <th><%= sortable "fecha_actualizacion", "Fecha", true %></th>
        <th></th>
      </tr>

    <% @apodos.each do |apodo| %>
      <tr>
        <td class="centered">
            <%= image_tag "http://apps.t2omedia.com.mx/php1/wikiapodos/images/apodos/" + apodo.imagen_url, :class => "apodo-thumb" %>
            <br/>
            <%= apodo.prefijo + ' ' + apodo.nombre %>
        </td>
        <td class="justificado"><%= apodo.descripcion %></td>
        <td class="centered"><%= link_to apodo.attributes["nombre_usuario"] + ' ' + apodo.attributes["apellido"], "http://facebook.com/#{apodo.attributes["facebook_id"]}", :target => "_blank" %></td>
        <td class="centered"><%= apodo.calificacion %></td>
        <td class="centered"><%= apodo.aceptado.to_i %> &nbsp;&nbsp;
            <% if apodo.aceptado.to_i > 0 %>
                <%=link_to "Ver", "#", :onclick => "getUsuarios(#{apodo.id})"%>
            <% end %>
        </td>
        <td class="centered"><%= apodo.compartido %></td>
        <td class="centered"><%= apodo.reportado.to_i %></td>
        <td class="centered">
            <% if apodo.visible %>
                <%=link_to"Ocultar", "#", :onclick => "updateVisible(#{apodo.id}, this)" %>
            <% else %>
                <%=link_to"Mostrar", "#", :onclick => "updateVisible(#{apodo.id}, this)" %>
            <% end %>
        </td>
         <td class="centered">
            <% if apodo.destacado %>
                <%=link_to"Remover", "#", :onclick => "updateDestacado(#{apodo.id}, this)" %>
            <% else %>
                <%=link_to"Agregar", "#", :onclick => "updateDestacado(#{apodo.id}, this)" %>
            <% end %>
        </td>
        <td class="centered"><%= apodo.fecha_creacion.in_time_zone("Mexico City").strftime("%h %d %Y") %></td>
        <td><%= link_to (raw("<i class='icon-edit'></i>")), edit_apodo_path(apodo)%></td>
      </tr>
    <% end %>
    </table>

    <div id="myModal" class="hide">
        <h2>Usuarios</h2>
        <table id="usuariosApodo" class="table table-striped table-bordered responsive"></table>
        </div>
    </div>
</section>
