<% content_for :head_script do %>
  <%= javascript_include_tag "apodos" %>
<% end %>
<section>
    <h1>Reporte de Apodos</h1>
    <%= will_paginate @apodos, :previous_label => ApplicationHelper::PREV_LBL, :next_label => ApplicationHelper::NEXT_LBL %>
    <table class="table table-striped table-bordered responsive">
      <tr>
        <th><%= sortable "nombre", "Apodo" %></th>
        <th><%= sortable "descripcion", "Descripción" %></th>
        <th><%= sortable "nombre_usuario", "Autor" %></th>
        <th><%= sortable "calificacion", "Calificación" %></th>
        <th><%= sortable "aceptado", "Usuarios" %></th>
        <th><%= sortable "compartido", "Compartido" %></th>
        <th><%= sortable "reportado", "Reportado" %></th>
        <th><%= sortable "visible" %></th>
        <th><%= sortable "destacado" %></th>
        <th><%= sortable "fecha_actualizacion", "Fecha" %></th>
        <th></th>
      </tr>

    <% @apodos.each do |apodo| %>
      <tr>
        <td class="centered">
            <%= image_tag "http://apps.t2omedia.com.mx/php1/wikiapodos/images/apodos/" + apodo.imagen_url, :class => "apodo-thumb" %>
            <%= apodo.prefijo + ' ' + apodo.nombre %>
        </td>
        <td class="justificado"><%= apodo.descripcion %></td>
        <td class="centered"><%= link_to apodo.attributes["nombre_usuario"] + ' ' + apodo.attributes["apellido"], "http://facebook.com/#{apodo.attributes["facebook_id"]}", :target => "_blank" %></td>
        <td class="centered"><%= apodo.calificacion %></td>
        <td class="centered"><%= apodo.aceptado.to_i %></td>
        <td class="centered"><%= apodo.compartido %></td>
        <td class="centered"><%= apodo.reportado.to_i %></td>
        <td class="centered">
            <% if apodo.visible %>
                <%=link_to"Ocultar", "#", :onclick => "updateVisible(#{apodo.id}, this)" %>
            <% else %>
                <%=link_to"Mostrar", "#", :onclick => "updateVisible(#{apodo.id}, this)" %>
            <% end %>
        </td>
         <td class="centered">
            <% if apodo.destacado %>
                <%=link_to"Remover", "#", :onclick => "updateDestacado(#{apodo.id}, this)" %>
            <% else %>
                <%=link_to"Agregar", "#", :onclick => "updateDestacado(#{apodo.id}, this)" %>
            <% end %>
        </td>
        <td class="centered"><%= apodo.fecha_creacion.in_time_zone("Mexico City").strftime("%h %d %Y") %></td>
        <td><%= link_to (raw("<i class='icon-edit'></i>")), edit_apodo_path(apodo)%></td>
      </tr>
    <% end %>
    </table>
</section>
