<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
  <title>Wikiapodos Administrador</title>
  <%= stylesheet_link_tag    "application", "display", :media => "all"%>
  <%= javascript_include_tag "application" %>
  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<img class="logo horizontal-middle" src="../assets/t2omedia.png"/>
		<h1 class="horizontal-middle">Wikiapodos</h1>
	</header>
	<div class="navbar">
  	<div class="navbar-inner">
    	<div class="container">
      	<a href="#menu" class="menu-trigger meteocon" data-meteocon="M"></a>
        <div class="nav-collapse collapse">
        	<nav id="menu">
          	<ul class="nav">
              <li id="resumen-li"><%= link_to "Resumen", "/", :class => "brand" %></li>
              <li id="apodos-li"><%= link_to "Apodos", apodos_path, :class => "brand" %></li>
              <li id="usuarios-li"><%= link_to "Usuarios", usuarios_path, :class => "brand" %></li>
              <li id="reportes-li"><%= link_to "Reportados", incidencias_path, :class => "brand" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
